/*
###########################################################################
  問題数選択ダイアログ
###########################################################################
*/
.volume-radio-group {
  display: flex;
  flex-direction: column;
}

.volume-radio-btn {
  margin-top: 1rem;
}
