/*
###########################################################################
  コピーライト
###########################################################################
*/
.footer__copyright {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 1rem 0px;
  font-size: 4px;
  color: #fff;
  background-color: #666;
}
