/*
###########################################################################
  戻るボタン（画面右下フロート）
###########################################################################
*/
.mat-icon__arrow-back {
  color: #444 !important;
}

.btn--float {
  position: fixed;
  z-index: 9999;
  bottom: 5%;
  right: 10%;
}
